@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@custom-variant violet (&:where(.violet, .violet *));
@custom-variant fuchsia (&:where(.fuchsia, .fuchsia *));
@custom-variant rose (&:where(.rose, .rose *));
@custom-variant amber (&:where(.amber, .amber *));
@custom-variant green (&:where(.green, .green *));
@custom-variant sky (&:where(.sky, .sky *));
@custom-variant indigo (&:where(.indigo, .indigo *));

@layer base {
	:root {
		--color-accent: theme(--color-violet-500);
		--color-accent-heavy: theme(--color-violet-600);
		--color-accent-light: theme(--color-violet-300);
	}
}

:root{
	font-family: theme(--font-mono);
	font-size: theme(--text-base);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiasing;
	-webkit-text-size-adjust: 100%;
}

.violet {
	--color-accent: theme(--color-violet-500);
	--color-accent-heavy: theme(--color-violet-600);
	--color-accent-light: theme(--color-violet-300);
}

.fuchsia {
	--color-accent: theme(--color-fuchsia-500);
	--color-accent-heavy: theme(--color-fuchsia-600);
	--color-accent-light: theme(--color-fuchsia-300);
}

.rose {
	--color-accent: theme(--color-rose-500);
	--color-accent-heavy: theme(--color-rose-600);
	--color-accent-light: theme(--color-rose-300);
}

.amber {
	--color-accent: theme(--color-amber-500);
	--color-accent-heavy: theme(--color-amber-600);
	--color-accent-light: theme(--color-amber-300);
}

.green {
	--color-accent: theme(--color-green-500);
	--color-accent-heavy: theme(--color-green-600);
	--color-accent-light: theme(--color-green-300);
}

.sky {
	--color-accent: theme(--color-sky-500);
	--color-accent-heavy: theme(--color-sky-600);
	--color-accent-light: theme(--color-sky-300);
}

.indigo {
	--color-accent: theme(--color-indigo-500);
	--color-accent-heavy: theme(--color-indigo-600);
	--color-accent-light: theme(--color-indigo-300);
}

textarea, input, button, a { outline: 0px; }
button, input {
	border-radius: 8px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}
button {
	background-color: var(--color-accent);
}
button:hover {
	background-color: var(--color-accent-heavy);
	cursor: pointer;
}

input {
	background-color: theme(--color-gray-200);
	color: theme(--color-gray-800);
}
*:focus-visible{
	outline:2px;
	outline-style: solid;
	outline-color: var(--color-accent-light);
}

a {
	color: var(--color-accent);
}
a:hover {
	text-decoration: underline;
}

.display {

}

.label {
	color: var(--color-accent-light);
	font-weight: 600;
	font-size: 1em;
	border-radius: 8px;
	padding-left: 8px;
	padding-top: 4px;
	padding-bottom: 4px;
	padding-right: 8px;
	text-transform: uppercase;
	margin-top: 4px;
}

.no-margins {
	margin-top: 0px;
}
	
