@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root{
	font-family: theme(--font-mono);
	font-size: theme(--text-base);
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiasing;
	-webkit-text-size-adjust: 100%;
}

textarea, input, button, a { outline: 0px; }
button, input {
	border-radius: 8px;
	padding-top: 4px;
	padding-bottom: 2px;
	padding-left: 8px;
	padding-right: 8px;
}
button {
	background-color: theme(--color-violet-500);
}
button:hover {
	background-color: theme(--color-violet-600);
	cursor: pointer;
}

input {
	background-color: theme(--color-gray-200);
	color: theme(--color-gray-800);
}
*:focus-visible{
	outline:2px;
	outline-style: solid;
	outline-color: theme(--color-violet-300);
}

a {
	color: theme(--color-violet-500);
}
a:hover {
	text-decoration: underline;
}
